.slider {
    --slide-width: 192px;
    --slide-height: 256px;

    position: relative;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    overflow: hidden;
}

.slider-grid {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.slider-grid::-webkit-scrollbar {
    display: none;
}

.slide {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    width: var(--slide-width);
    height: var(--slide-height);
    scroll-snap-align: start;
}

.slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.slide-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    padding: 10px;
}

.slide-content::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    filter: blur(8px);
}

.slide-overlay-wrapper {
    position: absolute;
    inset: 0;
}

.slide-overlay {
    background-position: center center;
    background-size: var(--slide-width) var(--slide-height);
    filter: blur(10px);
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    mask: linear-gradient(transparent, transparent 130px, black 75%);
}

.slide-label {
    position: absolute;
    top: 5px;
    left: 3px;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 4px 6px;
    border-radius: 30px;
    font-size: 8px;
    backdrop-filter: blur(3px);
    color: hsla(0, 0%, 100%, .64);
    text-shadow: 0 0 4px rgb(0 0 0 / 40%);
}

.slide-title {
    position: relative;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 15px;
    line-height: 17px;
}

.slide-info-icon {
    --icon-size: 24px;

    position: absolute;
    top: 2px;
    right: 3px;
    background-color: rgba(0, 0, 0, 0.25);
    color: hsla(0, 0%, 100%, .64);
    border-radius: 50%;
    width: var(--icon-size);
    height: var(--icon-size);
    font-size: 14px;
    cursor: pointer;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-info-icon:hover::after {
    opacity: 1;
}

.slide-info-icon:hover~.slide-info-content {
    display: block;
}

.slide-info-content {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    right: 0;
    text-align: left;
    background-color: #f3f3f3;
    color: #333;
    padding: 4px;
    border: 1px solid #ccc;
    font-size: 10px;
    word-wrap: break-word;
    pointer-events: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.slider-arrow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 38px;
    height: 38px;
    border-radius: 100%;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    transition: transform 100ms ease-in-out;
}

.slider:hover .slider-arrow {
    transform: translateX(0) translateY(-50%);
}

.arrow-left {
    left: 12px;
    background: url("data:image/svg+xml,<svg width='16' height='16' xmlns='http://www.w3.org/2000/svg'><path transform='rotate(180) translate(-16,-16)' d='m10.586 8.003-4.79 4.793a1 1 0 0 0 1.415 1.414l5.496-5.5a1 1 0 0 0 0-1.414l-5.496-5.5A1 1 0 0 0 5.796 3.21l4.79 4.793Z'></path></svg>") 45% 50% no-repeat #fff;
    transform: translateX(-150%) translateY(-50%);
}

.arrow-right {
    right: 12px;
    background: url("data:image/svg+xml,<svg width='16' height='16' xmlns='http://www.w3.org/2000/svg'><path d='m10.586 8.003-4.79 4.793a1 1 0 0 0 1.415 1.414l5.496-5.5a1 1 0 0 0 0-1.414l-5.496-5.5A1 1 0 0 0 5.796 3.21l4.79 4.793Z'></path></svg>") 45% 50% no-repeat #fff;
    transform: translateX(150%) translateY(-50%);
}


@media (hover: none) and (pointer: coarse) {
    .slider-arrow {
        transform: translateX(0) translateY(-50%);
    }
}
